@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap");

.App {
  text-align: center;
  font-family: "Roboto Condensed";
  font-size: 18px;
  line-height: 40px;
  min-height: 100vh;
  height: 100%;
  display: grid;
  background-color: rgb(238, 238, 240);
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content auto;
  grid-template-areas:
    "header header"
    "nav nav"
    "main main";
}

.Header {
  background-color: #0f251e;
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
  z-index: 1;
}

/* --------------Nav bar------------- */

.Nav {
  background-color: cadetblue;
  width: 100vw;
  height: 40px;
  margin-top: 20vh;
  padding: 5px;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
}

.Nav-link-section {
  margin-left: 30px;
  left: 40px;
  vertical-align: middle;
}
.Nav-link {
  color: #083a13;
  padding: 5px 10px;
  margin-right: 30px;
}
.Nav-link:hover {
  color: orangered;
}

.Nav-login {
  display: inline-block;
  height: 25px;
  position: relative;
  right: 20px;
  vertical-align: middle;
}
.Nav-login-info {
  position: relative;
  right: 20px;
}

.Nav-login-img {
  top: 0px;
  right: 30px;
  position: relative;
  margin: 0px;
  display: inline-block;
  height: 30px;
  width: 30px;
  object-fit: cover;
  border: 2px solid green;
  padding: 2px;
  border-radius: 50%;
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.login-info .user-container {
  position: relative;
  width: 50%;
}

/* -------------- Articles, topic-cards included ------------- */

.Articles {
  grid-area: main;
}
.ArticleHeder {
  vertical-align: middle;
}

.sort-bar {
  vertical-align: middle;
  float: inline-end;
}
.search-form {
  display: inline-block;
  margin-right: 90px;
}
.search-bar {
  margin-left: 5px;
  height: 27px;
}
.search-submit {
  height: 30px;
}

.sort-by {
  display: inline-block;
  height: 30px;
  vertical-align: middle;
}

.article-cards,
.comment-cards,
.topic-cards,
.article-card-section {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.article-votes,
.article-comments-count {
  left: 10px;
}

.votes {
  margin-right: 20px;
}

.inline-wrap {
  border: none;
  display: inline-block;
  width: 100%;
}

.comments-and-likes {
  text-align: right;
  display: inline-flex;
  justify-self: flex-end;
}

.article-created-at {
  font-size: 12px;
  padding: 0px;
  margin-top: 0px;
  text-align: left;
}

/* -------------- SingleArticle with comments ------------- */

.SingleArticleSection {
  width: 80vw;
  background-color: rgb(245, 244, 236);
  box-shadow: rgba(177, 169, 169, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 20px;
  margin: 20px auto;
}
.single-article-section {
  box-shadow: none;
  margin: 20px auto;
  padding: 20px 40px;
}

.article-author {
  display: inline-block;
  margin-left: 30px;
  font-size: 16px;
}

.single-article-created-at {
  display: inline-block;
  margin-left: 30px;
  font-size: 14px;
}

.single-article-comment-counts {
  font-size: 14px;
  display: inline-block;
  margin-right: 30px;
}

.article-topic {
  display: inline-block;
  margin-right: 30px;
  font-size: 16px;
}

.article-date-comment-section-parent,
.single-article-link-section {
  display: flex;
  justify-content: space-between;
}

.article-text {
  padding: 0px 20px;
  text-align: left;
  margin: 0px auto;
}

.article-card {
  width: 35%;
  background-color: rgb(255, 255, 255);
}

.comment-card {
  width: 80%;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(38, 57, 77) 0px 10px 20px -10px;
  padding: 20px;
  margin: 15px;
}

.topic-card {
  width: 25vw;
  background-color: rgb(247, 242, 233);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.article-card,
.topic-card {
  padding: 20px;
  border-radius: 5%;
  margin: 15px;
  min-width: 280px;
}
.article-card-bits {
  padding: 0px auto;
  margin: 0px auto;
}

.article-card:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.article-page {
  text-decoration: none;
}
.topics-title {
  text-transform: capitalize;
  color: rgb(90, 14, 14);
}

.single-topic-title {
  text-transform: capitalize;
  font-size: 40px;
  width: 40vh;
  margin: 30px auto 20px auto;
  color: rgb(66, 65, 65);
}
.single-topic-description {
  text-align: center;
  font-size: 20px;
  color: gray;
}

.link-to-category:hover {
  color: orangered;
}

.Header-link {
  color: whitesmoke;
}

.user-avatar {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 5px solid green;
  padding: 5px;
  margin: 5px auto;
  border-radius: 50%;
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.single-user-avatar {
  width: 150px;
  height: auto;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 5px auto;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.user-container:hover .user-avatar {
  opacity: 0.3;
}

.user-name {
  color: rgb(13, 61, 9);
  font-size: 16px;
  padding: 16px 32px;
}
.user-name:hover {
  color: orangered;
}

.is-loading-img {
  width: 150px;
  height: auto;
}
.err-img {
  width: 150px;
}

.inline-err-msg {
  color: red;
  font-size: 12px;
}

.post-err-msg {
  color: red;
  text-decoration: underline;
  font-size: 16px;
  display: inline-block;
  margin-left: 20px;
}

.error-message {
  color: red;
}

.article-title {
  font-size: 20px;
}

.article-vote-button,
.comment-vote-button {
  border: none;
}
.comment-vote-button:hover {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.article-vote-button:hover {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

li {
  list-style: none;
  margin: 5px auto;
}
main {
  margin-top: 30vh;
}

.hr-thread {
  color: rgb(247, 174, 174);
  margin: 0px;
}
.single-article-hr {
  margin-top: 0px;
}

.long-hr-thread {
  color: rgb(170, 169, 169);
}

.far {
  font-size: 20px;
  color: rgb(58, 57, 57);
  background-color: white;
}
.voted-up {
  font-size: 20px;
  color: rgb(67, 189, 77);
  background-color: white;
}

.voted-down {
  color: red;
}

.link-to-category {
  text-decoration: none;
}

.goto,
.search-submit {
  display: inline-block;
  border-radius: 4px;
  border: none;
  color: #ffff;
  text-align: center;
  cursor: pointer;
  margin: 5px;
  vertical-align: middle;
}

.search-submit {
  background-color: rgb(62, 120, 122);
}

.goto {
  background-color: #053c46;
  font-size: 18px;
  padding: 10px 10px;
}

.vote-button {
  display: inline-block;
  border-radius: 4px;
  background-color: white;
  border: none;
  color: #ffff;
  text-align: center;
  font-size: 18px;
  padding: 5px 5px;
  cursor: pointer;
  margin: 5px;
  vertical-align: middle;
  box-shadow: 1px 1px rgb(38, 75, 4);
  z-index: 1;
}

.goto span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.goto span::after {
  content: ">>";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.goto:hover span {
  padding-right: 25px;
}
.goto span::after {
  opacity: 1;
  right: 0;
}
.goto:hover {
  box-shadow: 2px 2px rgb(3, 3, 3);
}

.vote-button:hover {
  box-shadow: 2px 2px rgb(53, 52, 52);
}

.Home {
  margin-bottom: 0px;
  padding: 0px;
  position: relative;
  top: 30vh;
  bottom: 0px;
}

.Articles {
  margin-top: 30vh;
}

.no-margin-Articles {
  margin-top: 0px;
  float: inline-start;
}
