@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap");

.App {
  text-align: center;
  font-family: "Roboto Condensed";
  font-size: 18px;
  line-height: 40px;
  min-height: 100vh;
  height: 100%;
  display: grid;
  background-color: rgb(238, 238, 240);
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content auto;
  grid-template-areas:
    "header header"
    "nav nav"
    "main main";
}

.Header {
  background-color: #0f251e;
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
  z-index: 1;
}

.Nav {
  background-color: cadetblue;
  width: 100vw;
  height: 40px;
  margin-top: 20vh;
  padding: 5px;
  position: fixed;
  z-index: 1;
}

.Articles {
  grid-area: main;
}

.search-form {
  display: inline-block;
  margin-right: 30px;
  position: relative;
  left: 200px;
}

.sort-by {
  position: absolute;
  right: 20px;
}

.article-votes,
.article-comments-count {
  left: 10px;
}

.article-cards,
.comment-cards,
.topic-cards,
.article-card-section {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.inline-wrap {
  border: none;
  display: inline-block;
  width: 100%;
}

.comments-and-likes {
  text-align: right;
  display: inline-flex;
  justify-self: flex-end;
}

.article-created-at {
  font-size: 12px;
  padding-top: 0px;
  margin-top: 0px;
  /* display: inline-flex;
  justify-self: flex-start; */
  text-align: left;
}

.article-cards,
.comment-cards,
.topic-cards {
  /* width: 40vw; */
  text-align: center;
  padding: 20px;
}

.SingleArticleSection {
  width: 80vw;
  background-color: rgb(245, 244, 236);
  box-shadow: rgba(177, 169, 169, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 20px;
  margin: 20px auto;
}
.single-article-section {
  /* width: 80vw; */
  box-shadow: none;
  margin: 20px auto;
  padding: 20px 40px;
}
.single-article-created-at,
.article-author {
  display: inline-block;
  margin-left: 30px;
}
.single-article-created-at,
.single-article-comment-counts {
  font-size: 14px;
}
.article-author,
.article-topic {
  font-size: 16px;
}

.single-article-comment-counts,
.article-topic {
  display: inline-block;
  margin-right: 30px;
}

.article-date-comment-section-parent,
.single-article-link-section {
  display: flex;
  justify-content: space-between;
}

.article-text {
  padding: 0px 20px;
  text-align: left;
  margin: 0px auto;
}

.article-card {
  width: 30vw;
  min-width: 150px;
  background-color: rgb(255, 255, 255);
}

.comment-card {
  width: 80%;
  background-color: rgb(255, 255, 255);
}

.topic-card {
  width: 25vw;
  background-color: rgb(247, 242, 233);
}

.article-card,
.topic-card {
  padding: 20px;
  border-radius: 5%;
  margin: 15px;
}

.comment-card {
  padding: 20px;
  margin: 15px;
}

.article-card:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.comment-card:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.topic-card:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.article-page {
  text-decoration: none;
}
.topics-title {
  text-transform: capitalize;
  color: rgb(90, 14, 14);
}

.single-topic-title {
  text-transform: capitalize;
  font-size: 40px;
  width: 40vh;
  margin: 30px auto 20px auto;
  color: rgb(66, 65, 65);
}
.single-topic-description {
  text-align: center;
  font-size: 20px;
  color: gray;
}

.link-to-category:hover {
  color: orangered;
}

.Header-link {
  color: whitesmoke;
}
.Nav-link-section {
  margin-left: 30px;
  position: fixed;
  left: 40px;
}
.Nav-link {
  color: #083a13;
  padding: 5px 10px;
  margin-right: 30px;
}
.Nav-link:hover {
  color: orangered;
}

.Nav-login {
  display: inline-block;
  position: fixed;
  right: 20px;
}
.Nav-login-info {
  position: fixed;
  right: 20px;
}

.Nav-login-img {
  top: 0px;
  right: 30px;
  position: relative;
  margin: 0px;
  display: inline-block;
  height: 30px;
  width: 30px;
  object-fit: cover;
  border: 2px solid green;
  padding: 2px;
  border-radius: 50%;
  opacity: 1;
  display: block;
  /* width: 100%;
  height: auto; */
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.login-info .user-container {
  position: relative;
  width: 50%;
}

.user-avatar {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 5px solid green;
  padding: 5px;
  margin: 5px auto;
  border-radius: 50%;
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.single-user-avatar {
  width: 150px;
  height: auto;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 5px auto;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.user-container:hover .user-avatar {
  opacity: 0.3;
}

.user-name {
  color: rgb(13, 61, 9);
  font-size: 16px;
  padding: 16px 32px;
}
.user-name:hover {
  color: orangered;
}

.is-loading-img {
  width: 150px;
  height: auto;
}
.err-img {
  width: 150px;
}

.inline-err-msg,
.post-err-msg {
  color: red;
  font-size: 12px;
}

.error-message {
  color: red;
}

.article-title {
  font-size: 20px;
}

.article-vote-button,
.comment-vote-button {
  border: none;
}
.comment-vote-button:hover {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.article-vote-button:hover {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

li {
  list-style: none;
  margin: 5px auto;
}
main {
  margin-top: 30vh;
}

.hr-thread {
  color: rgb(247, 174, 174);
}
.single-article-hr {
  margin-top: 0px;
}

.long-hr-thread {
  color: rgb(170, 169, 169);
}

i {
  font-size: 20px;
  color: rgb(58, 57, 57);
  background-color: white;
}

.link-to-category {
  text-decoration: none;
}
